@font-face {
    font-family: "Cocogoose";
    src: url("fonts/Cocogoose Pro Light-trial.ttf");
}
@font-face {
    font-family: "CocogooseThin";
    src: url("fonts/Cocogoose Pro Thin-trial.ttf");
}

/* CUSTOMOWY SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #29008a71
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
} 
/* Social icons */
.fa {
    padding: 25px;
    width: 35px; /* Taka sama wielkość jak font-size w .fa::before */
    border-radius: 50%;
    text-decoration: none;
    margin: 5px 2px;
    box-sizing: inherit;
    text-align: center;
    color: white;
    margin-left: 15px;
  }
.fa:hover {
    background: #6629ac;
}
.fa::before {
    font-size: 35px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar {
    position: fixed;
    width: 70%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: #868686;
    font-family: 'CocogooseThin' !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    z-index: 100;
}
.navbar a {
    text-decoration: none;
}
.navbar img {
    height: 60%;
    margin-left: 3vw;
}
nav div {
    margin-right: 3vw;
}
nav div h2{
    float: left;
    margin-left: 2vw;
}


#right_side {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    position: fixed;
    right: 0px;
    width: calc(30% - 10px);
    height: 100vh;
    background-image: linear-gradient(#3728a5, #7b4cbb);
    margin-right: 10px;
}

#player_container {
    position: absolute;
    margin-top: 16vh;
    margin-left: -15vw;
    width: 35vw;
    height: 30vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#player {
    /* height: 61vh; */
    width: 100%;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

#social {
    position: fixed;
    bottom: 3vh;
    width: 30vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 101;
}

.newsletter {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#gmail {
    width: 50%;
    height: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#bt_gmail {
    width: 20%;
    background-color: #402099;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
#bt_gmail:hover {
    background-color: #240d63;
}

.newsletter h2 {
    width: 80%;
    padding-bottom: 10px;
    color: white;
}
.newsletter h3 {
    width: 70%;
    padding-bottom: 5px;
    color: white;
}

.hide {
    opacity:0;
    left:-100%;
    visibility: hidden;
}

.animation_show {
    animation: Show 1s forwards;
}

.animation_move {
    animation: Move 0.7s forwards;
}

@keyframes Show {
        0%{
            visibility: hidden;
            opacity: 0;
        }
        100%{
            opacity: 1;
            visibility: visible;
        }
    }

    @keyframes Move {
        0%{
            transform: translateX(20vw);
            opacity: 1;
            visibility: visible;
            }
        }



#left_side {
    width: calc(70% + 10px);
    height: calc(100% - 10vh);
    background-color: #f2f0fb;
    scroll-snap-align: center;
}


#left_side section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
}


#left_side section article{
    width: 60%;
    min-height: 70%;
    padding-right: 20%;
}


#left_side section article h1{
    font-size: 2em;
    margin-top: 1vh;
}

#left_side section article h3{
    opacity: 0.5
}
#left_side section article h4{
    color: #e978bc;
    margin-bottom: 0;
}
#left_side section article button{
    letter-spacing: 2px;
	background: none;
	color: #e978bc;
	padding: 16px;
	cursor: pointer;
    border-radius: 50px;
    border: 2px solid #e978bc;
    font-size: 1.2em;
    margin-top: 2vh;
    transition: all .3s;
}
#left_side section article button:hover { 
    background-color: #e978bc;
    color: white;
}