@font-face {
    font-family: "Cocogoose";
    src: url("fonts/Cocogoose Pro Light-trial.ttf");
}
@font-face {
    font-family: "CocogooseThin";
    src: url("fonts/Cocogoose Pro Thin-trial.ttf");
}

/* CUSTOMOWY SCROLLBAR */
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #8a005571
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

body {
    margin: 0;
    padding: 0;
    font-family: 'Cocogoose';
}
nav {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: #868686;
    font-family: 'CocogooseThin' !important;
}

nav img {
    height: 60%;
    margin-left: 5vw;
}

nav div {
    margin-right: 3vw;
    margin-top: 2vh;
}
nav div h2{
    float: left;
    margin-left: 2vw;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

#left_side nav div h2 button{
    margin-top: -16px;
    letter-spacing: 1px;
	background: none;
	padding: 16px;
	cursor: pointer;
    font-family: 'Cocogoose';
    border-radius: 50px;
    background-color: #e978bc;
    color: white;
    transition: all .4s;
    font-size: .7em;
    border: 2px solid #e978bc;
}
#left_side nav div button:hover { 
    border: 2px solid #e978bc;
	color: #e978bc;
    background-color: #fff;
}

#left_side {
    width: 70%;
    min-height: 200vh;
    background-color: #f2f0fb;
}
#right_side {
    position: fixed;
    right: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    float: right;
    min-width: 30%;
    min-height: 100vh;
    background-image: linear-gradient(#3728a5, #7b4cbb);
}

#left_side section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 85vh;
}

#left_side nav {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#left_side section article{
    width: 60%;
    min-height: 70%;
    padding-right: 20%;
}


#left_side section article h1{
    font-size: 2em;
    margin-top: 1vh;
}

#left_side section article h3{
    opacity: 0.5
}
#left_side section article h4{
    color: #e978bc;
    margin-bottom: 0;
}
#left_side section article button{
    letter-spacing: 2px;
	background: none;
	color: #e978bc;
	padding: 16px;
	cursor: pointer;
    border-radius: 50px;
    border: 2px solid #e978bc;
    font-size: 1.2em;
    margin-top: 2vh;
    transition: all .3s;
}
#left_side section article button:hover { 
    background-color: #e978bc;
    color: white;
}

#team_container {
    margin-top: 8vh;
    margin-left: -15vw;
    width: 35vw;
    height: 30vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#team {
    /* height: 61vh; */
    width: 100%;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

#social {
    color: #e978be;
    position: fixed;
    bottom: 3vh;
    width: 30vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#social img {
    width: 8%;
    margin-left: 1vw;
    filter: invert(90%);
}
  